{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <h2>Change Password for</h2>
    <h2>{{ username }}</h2>
    <form action="/changepassword" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="retype_password" placeholder="Re-type Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
