{% extends "layout.html" %}

{% block title %}
    Protfilo
{% endblock %}

{% block main %}
    <h2>Portfilo</h2>

    <table class="table table-bordered table-striped">
        <thead class="tread-light">
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total Value</th>
            </tr>
        </thead>
        {% for stock in stocks %}
        <tbody>

                <td>{{ stock.name }}</td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.total_shares }}</td>
                <td>{{ stock.price | usd }}</td>
                <td>{{ (stock.price * stock.total_shares) | usd }}</td>
        </tbody>
        {% endfor %}
            <tr>
                <td colspan="4" align="right">Your Spendable Money</td>
                <td>{{ cash | usd }}</td>
            </tr>
            <tr>
                <td colspan="4" align="right">Total Value</td>
                <td>{{ total_value | usd }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
