{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h2>History</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total Value</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    {% for transaction in transactions %}
    <tbody>

            <td>{{ transaction.type }}</td>
            <td>{{ transaction.name }}</td>
            <td>{{ transaction.symbol }}</td>
            <td>{{ transaction.shares }}</td>
            <td>{{ transaction.price | usd }}</td>
            <td>{{ (transaction.shares * transaction.price) | usd }}</td>
            <td>{{ transaction.timestamp }}</td>

    </tbody>
    {% endfor %}
</table>
{% endblock %}
